@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color:skyblue;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content{
    float: left;
    width: 55%;
}
.img{
    float: right;
        width: 40%;
}
.img img{
    width: 100%;
    height: auto;
}
.content .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content .ctn h3{
    margin-top: 20px;
    color:black;
    font-size: 21px;
}
.content .ctn p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}
.content .ctn .button{
    margin-top: 30px;
}
.content .ctn .button a{
    background-color:black;
    padding: 12px 40px;
    text-decoration:none;
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content .ctn .button a:hover{
    background-color: #009688;
    color: white;
}
.content .social{
    margin-top: 40px;
}
.content .social a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}